<main role="main" class="container">
    <div class="row">
        <div class="container_roompic">  <!-- class="jumbotron p-4 p-md-5 text-white rounded bg-dark"-->
             <img src="{{room.photo}}" alt="Room Picture" class="pic_roomDetail">   
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-8 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">{{room.title}}</h2>
                
        <hr>
        <p></p>
        <h2>Overview</h2>
        <p>${{room.price}} / night</p>
        <h3>About Room</h3>
        <p>{{room.description}}</p>
        <ol>
          <li>Vestibulum id ligula porta felis euismod semper.</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
    </div>

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4>Book This Room</h4>
        <form method="POST" action="/user/bookroom/{{room._id}}">
             <div class="form-group">
                <label for="checkout">Check-in</label>
                <input class="form-control {{#if error.in}}is-invalid{{/if}}" type="text" value="{{in}}" name="in" class="form-control" placeholder="MM-DD-YYY">
                <div>
                    <div class="invalid-feedback" style="margin: 1em; display:block;">{{error.in}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="checkin">Check-out</label>
                <input class="form-control {{#if error.out}}is-invalid{{/if}}" type="text" name="out" class="form-control" placeholder="MM-DD-YYY">
                <div>
                    <div class="invalid-feedback" style="margin: 1em; display:block;">{{error.out}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="guests">Guests</label>
                <input  class="form-control {{#if error.guests}}is-invalid{{/if}}" type="number" name="guests" class="form-control" placeholder="Guest">
                 <div>
                    <div class="invalid-feedback" style="margin: 1em; display:block;">{{error.guests}}</div>
                </div>
            </div>
            <input type="submit" value="Book Now" class="btn_signup">
        </form>
      </div>     
    </aside>
  </div>

</main>