<div class="main_back container max_width_100">
    <div class="adjust">
        <div class="home_form_container card"  class="form-group">
        <form method="POST" action="/" class="home_form">    
            <div>
                <label  for="inputState">WHERE</label><br>
                <select name="location" id="inputState" class="form-control {{#if err.location}}is-invalid{{/if}}">
                    <option value="Location" {{#isFalsey criteria }}selected=selected{{/isFalsey}} {{#eq criteria.location compare="Location"}} selected=selected {{/eq}} disabled>Location</option>
                    <option value="Toronto"  {{#eq criteria.location  compare="Toronto"}} selected=selected {{/eq}}>Toronto</option>
                    <option value="New York" {{#eq criteria.location compare="New York"}} selected=selected {{/eq}}>New York</option>
                    <option value="Italy" {{#eq criteria.location compare="Italy"}} selected=selected {{/eq}}>Italy</option>
                    <option value="Tokyo" {{#eq criteria.location compare="Tokyo"}} selected=selected {{/eq}}>Tokyo</option>        
                </select>
                {{#each err.location}}
                    <div class="invalid-feedback" style="margin-top: 0.5em; display:block;">{{this}}</div>
                {{/each}}
            </div>
            <div >
                <label  class="checkIn">CHECK-IN</label><br>
                <input type='date' class="form-control  {{#if err.checkIn}}is-invalid{{/if}}"  placeholder="{{#isFalsey criteria.checkIn }}dd-mm-yyyy{{/isFalsey}}" value="{{#isTruthy criteria.checkIn }}{{criteria.checkIn}}{{/isTruthy}}" name="checkIn">
                {{#each err.checkIn}}
                    <div class="invalid-feedback" style="margin-top: 0.5em; display:block;">{{this}}</div>
                {{/each}}
            </div>
            <div>
                <label for="inputCheckOut">CHECK-OUT</label><br>
                <input type="date" class="form-control {{#if err.checkOut}}is-invalid{{/if}}"  placeholder="{{#isFalsey criteria.checkOut }}dd-mm-yyyy{{/isFalsey}}" value="{{#isTruthy criteria.checkOut }}{{criteria.checkOut}}{{/isTruthy}}"  name="checkOut" >   
                {{#each err.checkOut}}
                    <div class="invalid-feedback" style="margin-top: 0.5em; display:block;">{{this}}</div>
                {{/each}}
            </div>
            <div >
                <label for="inputState">GUESTS</label>
                <select name="guest" class="form-control {{#if err.guest}}is-invalid{{/if}}">
                    <option value="Guests" {{#isFalsey criteria }}selected=selected{{/isFalsey}} {{#eq criteria.guest compare="Guests"}}selected=selected{{/eq}}disabled>Guests</option>
                    <option value="1" {{#eq criteria.guest  compare="1"}}  selected=selected {{/eq}}>1</option>
                    <option value="2" {{#eq criteria.guest  compare="2"}}  selected=selected {{/eq}}>2</option>
                    <option value="3" {{#eq criteria.guest  compare="3"}}  selected=selected {{/eq}}>3</option>
                    <option value="4" {{#eq criteria.guest  compare="4"}}  selected=selected {{/eq}}>4</option>
                    <option value="5+" {{#eq criteria.guest  compare="5+"}}  selected=selected {{/eq}}>5+</option>
                </select>
                {{#each err.guest}}
                    <div class="invalid-feedback" style="margin-top: 0.5em; display:block;">{{this}}</div>
                {{/each}}
            </div>  
            <div > 
                <input type='submit' value="Search" class="btn_serch" class="btn btn-primary" style="margin-top: 1em;">
            </div>
        </form>    
    </div>
</div>
<div class="container rec_container">
    <div class="top_recommended">
        <div><h2 class="rec_header">Recommended for you</h2></div>
        <div><p>A selection of places to stay verified for quality and design</p></div>
        <div><p>Featured PerfectRoom Plus destination</p></div>
    </div>
    <div class="card-deck mb-3 text-center" >
        <div class="card mb-4 shadow-sm">
            <img  src="/pictures/home_barcelona.jpg" alt="room1" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title" class="plus_verify">680+ VERIFIED STAYS</h5>
            <p class="card-text">Experience the modern elegance of verified places to stay</p>
            <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <img src="/pictures/home_shanghai.jpg" alt="room1" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title" class="plus_verify">490+ VERIFIED STAYS</h5>
            <p class="card-text">Get to know China's ancient and booming port city</p>
            <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <img  class="card-img-top" src="/pictures/home_london.jpg" alt="room1">
            <div class="card-body">
            <h5 class="card-title" class="plus_verify">820+ VERIFIED STAYS</h5>
            <p class="card-text">Book verified places to stay with must-have amenities</p>
            <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="home_contents" class="row featurette">
      <div class="col-md-7 container">
        <h2 class="featurette-heading">Take A Deep Breath At A Breathtaking Beach<br><span class="text-muted">It’ll Blow Your Mind.</span></h2>
        <p class="lead">Whether you're looking for an isolated stretch of sand in the Caribbean or a family-friendly resort in the middle of the Indian Ocean, we have enough destination options out there to suit every type of traveler.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-5">
          <img  src="pictures/home_pic_one.jpg" alt="pic_one"  width="100%" height="100%"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="home_contents" class="row featurette">
      <div class="col-md-7 order-md-2 container">
        <h2 class="featurette-heading">Love Animals?<br><span class="text-muted">Explore And See For Yourself.</span></h2>
        <p class="lead">There’s just something about this fascinating continent that pulls you in and keeps you wanting to return over and over again. Experience this ultimate in exotic and far-flung destinations.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>  
    </div>
      <div  class="col-md-5 order-md-1">
       <img src="pictures/home_pic_two.jpg" alt="pic_two"  width="100%" height="100%" />
      </div>
    </div>
</div>

    <div   class="about_container" class="container" >
        <h2 class="about">About PerfectRoom</h2>
        <div class="about_p">
            <p class="font_for_mobile">We provide uniqe accomodations all over the world.</p>
            <p class="font_for_mobile">
                We are one community of hosts and travellers.
                PerfectRoom began in 2008 when two designers who had space to share hosted three travellers 
                looking for a place to stay. Now, millions of hosts and travellers choose to create a 
                free PerfectRoom account so they can list their space and book unique accommodations anywhere
                in the world. And PerfectRoom experience hosts share their passions and interests with both 
                travellers and locals.
            </p>    
            <p class="font_for_mobile">PerfectRoom helps make sharing easy, enjoyable, and safe. We verify personal profiles and listings,
                maintain a smart messaging system so hosts and guests can communicate with certainty, and
                manage a trusted platform to collect and transfer payments.Your safety is our number one concern.
                    Learn more in our<a href="#">Trust and Safety Centre.</a>
            </p>
        </div>
    </div>
