<main >
    <div class="text-center to_justify_center container" >
        <h1 class="room_header" >Explore Rooms</h1>
            <div><h2>Where Would You Like to Go?</h2></div>
                <form method="POST" action="/contents/searchByCity" >
                    <div  class="roomlist_form" class="form-group">
                        <div class="roomlistDrop_container">
                            <select class="custom-select"  name="choice"  required>
                                <option selected disabled value="">Select a City</option>
                                <option value="Toronto">Toronto</option>
                                <option value="New York">New York</option>
                                <option value="Italy">Italy</option>
                                <option value="Tokyo">Tokyo</option>
                            </select>
                        </div>   
                    </div>
                    <div><input type="submit" value="See Rooms" class="btn_signup"></div>                 
                </form>
    </div>
    <div class="roomlist_location_container">
        <div class="roomlist_location">
            <h2>{{location}}</h2>
        </div>
    </div>
    <div  class="container-fluid">
    <div class="roomlist_container to_justify_center">
        <div class=" max_width_100 to_justify_center row_for_tablet card-deck">
            {{#if lists}}   
            {{#each lists}}
                    <div class="col-md-4  card_for_tablet card_for_roomList">
                            <a href="/user/bookroom/{{this._id}}" class="roomlist_link">
                            <div class="card ">
                                <img class="card-img-top" src="{{this.photo}}" alt="room picture">
                                <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <div "card-text">From ${{this.price}} / night</div>
                                <span "card-text">4.08(530) </span ><i class = "fas fa-star"></i>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                            </a>
                        </div>
                    </div> 
            {{/each}}
            {{else}} 
                <div class="no_room_container">
                    <div class="no_room"><h4>{{error}} </h4></div>
                </div>
            {{/if}}
        </div>
    </div>
    </div>
</main>


